.DS_Store

uploads/blogs/*
uploads/premium/*
uploads/report/*
uploads/untitle/*
!uploads/index.html
!uploads/blogs/index.html
!uploads/premium/index.html
!uploads/report/index.html
!uploads/untitle/index.html

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
